<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Dataset</title>
</head>
<body>
    <div class="hcon">
        <h1 class="heading">
            {{name}}
        </h1>
        <h4 class="dataset" >
            Your dataset : <a href={{link}} target="_blank" >{{link}}</a>
        </h4>
    </div>
</body>
</html>