<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Registration</title>
</head>
<body>
    <div class="registration-form">
        <h1>Registration-form</h1>
        <form action="/register" method="post">
            <p>Name</p>
            <input type="text" name="name" placeholder="name">
            <p>password</p>
            <input type="password" name="password" placeholder="password">
            <p>link</p>
            <input type="text" name="link" placeholder="link">
            <button type="submit">Registration</button>
        </form>
    </div>
</body>
</html>
